
@keyframes slidein {
    from {
      margin-bottom: 100%;
      width: 300%;
    }
  
    to {
      margin-bottom: 0%;
      width: 100%;
    }
  }
.App {
  text-align: center;
  margin-top: 2px;
  margin: auto;
  width: 95%;
  padding: 10px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
  font-family: cursive;
  animation-duration: 3s;
  animation-name: slidein;
}
input{
  width: 220px;
  height: auto;
  padding: 1px;
  margin: 9px;
}
button{
  width: 120px;
  height: 33px;
  font-size: medium;
  margin: 10px;
  border-radius: 22px;
  background-color: lightgreen;
  font-family: cursive;
  border: 0;
}
select{
  width: 155px;
  height: 33px;
  border-radius: 22px;
  font-size: medium;
  text-align: center;
}

option{
  width: 155px;
  height: 33px;
  border-radius: 22px;
  font-size: small;
}

button.option{
  font-size: larger;
  background-color: aliceblue;
  border: 1px solid black ;
}
#quiz{
  background-color: #13455B!important;
  font-size: large;
  color: white;
  width: auto;
  border: 1px solid black ;
}
h2{
  background-color: lightblue;
  border-radius: 22px;
  margin-left:122px;
  margin-right:122px;
}
p#score{
  background-color: lightgray;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 22px;
}
h5{
  font-family: monospace;
}
